@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding:0;
    margin: 0;
}


#updatebtn{
    display: none;
}

body{
    background-image: url(violet.jpg);
}
.crud{
    background: rgb(204,148,195);
    background: radial-gradient(circle, rgba(204,148,195,0.8800770308123249) 48%, rgba(82, 15, 78, 0.313) 88%);
    border: solid rgba(37, 2, 27, 0.379);
    border-radius: 2%;
    padding-top: 1%;
    width: 60%;
    height: 100%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inputs{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px 100px 5px 100px;
}


input{
margin-top: 2%;
margin-bottom: 2%;
width: 80%;
height: 4vh;
border-radius: 30px 30px 30px 30px;
border: 3px solid rgb(37, 2, 27);
text-align: left;
padding-left: 3%;
}

input::placeholder {
    font-style: italic;
}

#tododesc{
    height: 10vh;
}





#search{
    height: 3vh;
    width: 30%;
}

#submit{
    background-color:  rgb(37, 2, 27);
    color: white;
    border-radius: 8px;
    width:20%;
    height: 4vh;
    margin-top: 2.2%;
    margin-left: 50%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

#submit:hover{
    letter-spacing: 4px;
    background-color: rgb(195, 165, 186);
}

#horizontal{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    height: 6vh;
    display: flex;
    justify-content: center;
}

.head{
    text-align: center;
    text-transform: uppercase;
    margin:10px 0px;
}

input:focus{
background:rgb(226, 213, 224);
}


#outputs{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6%;
    padding-bottom: 2%;
}

.mytodolist{

    margin: 2% 0% 2% 0%;
    width: 80%;
    height: auto;
    border: 4px solid rgba(37, 2, 27, 0.829);
    padding: 1%;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:200;
    color: white;
    background: rgb(204,148,195);
    
}

.icons{
    padding:0.5%;
    width: 20%;
    display: flex;
    justify-content:space-around;
}


#edit{
margin-top: 9%;
}

#delete{

margin-top: 9%;

}



/* trial */
#updatebtn{
    background-color:  rgb(37, 2, 27);
    color: white;
    border-radius: 8px;
    width:20%;
    height: 4vh;
    margin-top: 2.2%;
    margin-left: 50%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
#updatebtn:hover{
    letter-spacing: 4px;
    background-color: rgb(195, 165, 186);
}


#error1{
    border: solid rgb(3, 3, 3);
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    width: 80%;
    padding: 0.5%;

    display: none;

    span{
        color: red;
    }
}

#error2{
    border: solid rgb(3, 3, 3);
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    width: 80%;
    padding: 0.5%;

    display: none;

    span{
        color: red;
    }
}